{% extends "layout.html" %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block title %}
    {% if domainname %}
    {{domainname}}
    {% else %}
    All Domains
    {% endif %}
{% endblock %}

{% block body %}

    {% if domainname %}
        {% if records %}
        <h3>
            Found {{ records|length }} DNS records for {{domainname}}
        </h3>

            {% include "records.html" %}

            <hr>
            <h4>Add a record to {{domainname}}:</h4>

            <em>NOTE:</em> If your DNS record name doesn't end with <code>{{domainname}}</code>,
            it will be added for you after you submit the form.
            
            <form method="post" action="/domains/{{domainname}}/add_record">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Data</th>
                        <th>Priority</th>
                        <th>TTL</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="type" class="span2">
                                <option value="A">A</option>
                                <option value="AAAA">AAAA</option>
                                <option value="CNAME">CNAME</option>
                                <option value="MX">MX</option>
                                <option value="NS">NS</option>
                                <option value="SRV">SRV</option>
                                <option value="TXT">TXT</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="name" class="span3"><br>
                            <em>example.{{domainname}}</em>
                        </td>
                        <td>
                            <input type="text" name="data" class="span3"><br>
                            <em>IP address or target.{{domainname}}</em>
                        </td>
                        <td>
                            <input type="text" name="priority" class="span1"><br>
                            <em>MX/SRV only</em>
                        </td>
                        <td>
                            <input type="text" name="ttl" class="span1" value="3600">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success">Add</button>
                        </th>
                    </tr>
                </tbody>
            </table>
            </form>


        {% else %}

        <p style="font-weight: bold;">
            No records found.
        </p>
        No records found for {{domainname}}.

        {% endif %}

        <hr>
        <h4>Want to delete this domain?</h4>
        Type <em>REALLYDELETE</em> in the text field and press Delete Domain. <br>
        <form method="post" action="/domains/delete" class="form-inline">
            <input type="hidden" name="domain" value="{{ domainname }}">
            <input type="text" class="span3" name="confirmation">
            <button type="submit" class="btn btn-danger">Delete Domain</button>
        </form>

    {% else %}

    <p style="font-weight: bold;">
        No domain specified.
    </p>
    Choose a domain via the dropdown menu above or add a new domain.

    {% endif %}



{% endblock %}