{% extends "layout.html" %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block title %}
    {% if domainname %}
    {{domainname}}
    {% else %}
    All Domains
    {% endif %}
{% endblock %}

{% block body %}
    {% if domainname %}
        {% if records %}
        <h3>
            Found {{ records|length }} DNS records for {{domainname}} ({{domainobj.id}})
        </h3>
            {% include "records.html" %}
        {% endif %}
        {% include "actions-records.html" %}
    {% else %}
    <div class="row-fluid">
        <div class="span7">
            {% if domainlist %}
            <h3>
                Domains found in your account: {{ domainlist|length }}
            </h3>
            {% endif %}
            <ul>
                {% for domain in domainlist %}
                <li>
                    <a href="/domains/{{domain}}">{{domain}}</a>
                    <span style="color: grey">
                        ({{ domain.id }})
                    </span>
                </li>
                {% else %}
                <h3>
                    No domains found in your account.
                </h3>
                <p>
                    Add a domain using the forms on the right.
                </p>
                {% endfor %}
            </ul>
        </div>
        <div class="span5">
            {% include "actions-mainpage.html" %}
        </div>
    </div>
    {% endif %}
{% endblock %}