<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &raquo; Rackspace Cloud DNS GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Rackspace Cloud DNS GUI</a>
          <div class="nav">
            <li>
              <form method="post" action="/account" class="navbar-search">
                Client ID:
                <input class="search-query span1" name="accountId" type="text" placeholder="{{g.accountId}}">
                <button class="btn" type="submit" style="display: none;">Set Account</button>
              </form>
            </li>
            <li class="dropdown" id="menu1">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                Active Domains
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {% for domain in domainlist %}
                <li><a href="/domains/{{domain}}">{{domain}}</a></li>
                {% else %}
                <li><a href="/">No domains</a></li>
                {% endfor %}
              </ul>
            </li>
          </div>
          <form method="post" action="/domains/add" class="navbar-search pull-right">
            Add a domain:
            <input class="search-query span2" name="domain" type="text" placeholder="example.com">
            <button class="btn" type="submit" style="display: none;">Add Domain</button>
          </form> 
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-info">
                <strong>Task completed.</strong><br>
                {{ message }}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block body %}{% endblock %}
        </div>
      </div>
      <hr>
      <footer class="pull-right">
        <p>
          <a href="http://docs.rackspace.com/cdns/api/v1.0/cdns-devguide/content/overview.html">
            Rackspace Cloud DNS Developer Guide
          </a> | 
          <a href="http://rackerhacker.github.com/rackspace-clouddns-gui">
            Fork me on GitHub
          </a>
        </p>
      </footer>
    </div>
  </body>
</html>
