<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &raquo; Rackspace Cloud DNS GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Rackspace Cloud DNS GUI</a>
          <div class="nav-collapse">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          {% block sidebar %}{% endblock %}
        </div><!--/span-->
        <div class="span9">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <p>
                <span class="badge badge-inverse">{{ message }}</span>
              </p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block body %}{% endblock %}
        </div>
      </div>
      <hr>
      <footer class="pull-right">
        <p>
          <a href="https://github.com/rackerhacker/rackspace-clouddns-gui">
            Fork me on GitHub
          </a>
        </p>
      </footer>
    </div>
  </body>
</html>