<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Priority</th>
        <th>Data</th>
        <th>Comment</th>
        <th>TTL</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
{% for record in records %}
    <tr>
        <form method="post" action="/domains/{{domainname}}/{{record.id}}/update">
        <td>
            {{ record.id }}
        </td>
        <td>
            {{ record.name }}
        </td>
        <td>
            {{ record.type }}
        <td>
        {% if record.type == "MX" %}
            {{ record.priority }}
        {% else %}
            -
        {% endif %}
        </td>
        <td>
            <input type="text" name="data" value="{{ record.data }}" class="span3">
        </td>
        <td>
            {% if record.comment %}
                {{ record.comment }}
            {% endif %}
        </td>
        <td>
            <input type="text" name="ttl" value="{{ record.ttl }}" style="width: 50px;">
        </td>
        <td>
            <button class="btn btn-small btn-warning" type="submit">Update</button>
            <a href="/domains/{{domainname}}/{{record.id}}/delete" class="btn btn-small btn-danger" onclick="return confirm('Are you sure you want to delete record {{record.id}}?');">Delete</a>
        </td>
        </form>
    </tr>
{% endfor %}
    </tbody>
</table>
